<!DOCTYPE html>
<html class="head_homeloginuser" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <link href="{{ url_for('static', filename='/img/log.png') }}" rel="icon">
  <!---Custom CSS File--->
  <link rel="stylesheet" href="../../static/style.css">
</head>
<body class="body_homeloginsignup">
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header class="header_login">Login Admin</header>
      <form action="{{ url_for('login_admin') }}" method="post">
        <input type="text" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="submit" class="button" value="Login">
      </form>
      <div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
