<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kelompok AuAu-Cloud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="{{ url_for('static', filename='/img/au.png') }}" rel="icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylein.css') }}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="#" class="nav-logo">
          <h2 class="logo-text">AuAu</h2>
        </a>
        <button id="menu-open-button" class="fas fa-bars"></button>
      </nav>
    </header>

    <main>
      <!-- Hero section -->
      <section class="hero-section">
        <div class="section-content">
          <div class="hero-details">
            <h2 class="title">Hallo Semua</h2>
            <h3 class="subtitle">Perkenalkan Kami Dari Kelompok AuAu Author dari website CleanYED</h3>

          </div>
          <div class="hero-image-wrapper">
        <img src="../static/img/2.2.jpg" alt="Coffee" class="hero-image" />
          </div>
        </div>
      </section>

      <!-- About section -->
      <section class="about-section" id="about">
        <div class="section-content">
          <div class="about-image-wrapper">
            <img src="../static/img/musa.jpeg" alt="About" class="about-image" />
          </div>
          <div class="about-details">
            <h2 class="section-title">Mugni Saleh Maheswara</h2>
            <h3 class="section-th3">22.83.0814 |   S1-Teknik Komputer</h3>
            <p class="text">
              Dalam mengerjakan Final Project Cloud Computing saya mengerjakan bagian FRONTEND
            </p>
            <div class="social-link-list">
              <a href="http://facebook.com/Mugni.Saleh" class="social-link"><i class="fa-brands fa-facebook"></i></a>
              <a href="http://instagram.com/mugnimusa" class="social-link"><i class="fa-brands fa-instagram"></i></a>
              <a href="http://x.com/@mugni_saleh" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
        </div>
      </section>

      <section class="about-section" id="about">
        <div class="section-content">
          <div class="about-image-wrapper">
            <img src="../static/img/far.jpeg" alt="About" class="about-image" />
          </div>
          <div class="about-details">
            <h2 class="section-title">Faradilla Belva Nurwansya</h2>
            <h3 class="section-th3">22.83.0800 |   S1-Teknik Komputer</h3>
            <p class="text">
              Dalam mengerjakan Final Project Cloud Computing saya mengerjakan bagian FRONTEND dan BACKEND
            </p>
            <div class="social-link-list">
              <a href="https://www.facebook.com/dillabelva" class="social-link"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/faradillabelvaa" class="social-link"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
        </div>
      </section>

      <section class="about-section" id="about">
        <div class="section-content">
          <div class="about-image-wrapper">
            <img src="../static/img/jho.jpeg" alt="About" class="about-image" />
          </div>
          <div class="about-details">
            <h2 class="section-title">Meyzel Jhofany Yuana</h2>
            <h3 class="section-th3">22.83.0823 |   S1-Teknik Komputer</h3>
            <p class="text">
              Dalam mengerjakan Final Project Cloud Computing saya mengerjakan bagian BACKEND dan DATABASE 
            </p>
            <div class="social-link-list">
              <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/zjfny" class="social-link"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
        </div>
      </section>

      <section class="about-section" id="about">
        <div class="section-content">
          <div class="about-image-wrapper">
            <img src="../static/img/Danu.jpg" alt="About" class="about-image" />
          </div>
          <div class="about-details">
            <h2 class="section-title">Firma Danu Kusuma</h2>
            <h3 class="section-th3">22.83.0806 |   S1-Teknik Komputer</h3>
            <p class="text">
              Dalam mengerjakan Final Project Cloud Computing saya mengerjakan bagian DEEPLOY WEB
            </p>
            <div class="social-link-list">
              <a href="https://www.facebook.com/share/1DihX7ataZ/?mibextid=LQQJ4d" class="social-link"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/danu_baron" class="social-link"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
        </div>
      </section>


      <!-- Gallery section -->
      <section class="gallery-section" id="gallery">
        <h2 class="section-title">Gallery</h2>
        <div class="section-content">
          <ul class="gallery-list">
            <li class="gallery-item">
              <img src="../static/img/7.7.jpg" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="../static/img/3.3.jpg" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="../static/img/4.4.jpg" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="../static/img/5.5.jpg" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="../static/img/6.6.jpg" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="../static/img/7.7.jpg" alt="Gallery Image" class="gallery-image" />
            </li>
          </ul>
        </div>
      </section>

    
      <footer class="footer-section">
        <div class="section-content">
          <p class="copyright-text">AuAu Group</p>
          <p class="policy-text">
            <a href="#" class="policy-link">Universitas Amikom Yogyakarta</a>
          </p>
        </div>
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>