<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Utama</title>
    <link href="{{ url_for('static', filename='/img/log.png') }}" rel="icon">
    <link rel="stylesheet" href="../static/stylelobby.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="#">CleanYED</a></h2>
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          </svg>
        </label>
      </nav>
    </header>   
    <section class="hero-section">
      <div class="hero">
        <h2>SELAMAT DATANG DI WEBSITE CLEANING SERVICE</h2>
        <p>
          
          Website kami menyediakan berbagai macam kebersihan sesuai kebutuhan Anda 
          Mohon untuk login terlebih dahulu, jika belum mempunyai akun silahkan sign up
        </p>
        <div class="buttons">
          <a href="/login" class="join">Masuk</a>
        </div>
    </section>
  </body>
</html>