<!DOCTYPE html>
<html class="head_homeloginuser" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup Form</title>
  <link href="{{ url_for('static', filename='/img/log.png') }}" rel="icon">
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body_homeloginsignup">
    <div class="registration form">
        <div class="container">
            <header class="header_login">Signup</header>
            <form action="/register" method="POST">
                <input type="text" placeholder="Enter your name" name="name" required>
                <input type="email" placeholder="Enter your email" name="email" required>
                <input type="number" placeholder="Enter your phone number" name="phone" required>
                <input type="password" placeholder="Create a password" name="password" required>
                <input type="submit" class="button" value="Signup">
            </form>
            <div>
                <span>Already have an account?
                    <a href="{{ url_for('login') }}">Login</a>
                </span>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
